{% extends "base.html" %}

{% block title %}Payment Success{% endblock %}

{% block content %}

<div class="container-fluid py-4 py-md-5">

    <div class="row justify-content-center">

        <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4">


            <div class="card border-0 shadow-lg rounded-4">


                <div class="card-body text-center p-4 p-sm-5">


                    <!-- Success Icon -->
                    <div
                        class="d-inline-flex align-items-center justify-content-center
                               bg-success bg-opacity-10 text-success rounded-circle mb-4"
                        style="width:90px;height:90px;font-size:45px;"
                    >
                        ✅
                    </div>



                    <!-- Heading -->
                    <h1 class="fw-bold text-success mb-3">
                        Payment Successful
                    </h1>



                    <p class="text-muted mb-4">
                        Your payment has been completed successfully.
                    </p>



                    <hr>



                    <!-- Payment ID -->
                    <div class="mt-4">

                        <h5 class="fw-semibold">
                            Payment ID
                        </h5>


                        <div
                            class="bg-light rounded-3 p-3 mt-2 text-break"
                        >
                            {{ payment_id }}
                        </div>

                    </div>



                    <!-- Button -->
                    <a
                        href="{{ url_for('orders') }}"
                        class="btn btn-primary btn-lg w-100 rounded-3 mt-4"
                    >
                        📦 View Orders
                    </a>



                </div>


            </div>


        </div>


    </div>


</div>


{% endblock %}